Source: wims
Section: web
Priority: optional
Maintainer: François Lafont <francois.lafont@ac-versailles.fr>
Build-Depends: debhelper (>= 9), make, g++, texlive-base, gnuplot,
 pari-gp, units-filter, flex, bison, perl, liburi-perl, imagemagick,
 libgd2-xpm-dev, wget, lsb-release, libgd2-xpm-dev, autoconf, ant,
 subversion, openjdk-8-jdk, quilt
Standards-Version: 3.9.8
Homepage: https://sourcesup.renater.fr/frs/?group_id=379

Package: wims
Architecture: any
Pre-Depends: adduser, apache2, procps, sudo
Depends: ${shlibs:Depends}, ${misc:Depends}, yacas, gap,
 maxima, maxima-share, octave, graphviz, ldap-utils, scilab-cli,
 libwebservice-validator-html-w3c-perl, qrencode, fortune, unzip,
 libgmp-dev, openbabel, povray, pari-gp2c, pari-gp, gnuplot,
 texlive-base, texlive-latex-base, texlive-binaries,
 texlive-fonts-recommended, chemeq, libjs-prototype,
 libjs-mootools, libjs-edit-area, libjs-jquery,
 libjs-jquery-metadata, libjs-asciimathml
Description: Server for educational content: courses, exercises, and exams
 The WWW Interactive Multipurpose Server (Wims) is an educational platform
 originally developed for mathematics but now also supporting subjects such
 as physics, chemistry, biology, and languages.
